scrape_configs:
  - job_name: json_exporter
    static_configs:
      - targets: ['json-exporter:7979']
  - job_name: cht
    metrics_path: /probe
    params:
      module: [default]
    file_sd_configs:
      - files:
          - '/etc/prometheus/cht-instances.yml'
    relabel_configs:
      - source_labels: [__address__]
        regex: "(.*?)(?:\\/|)$"
        replacement: "${1}/api/v2/monitoring?connected_user_interval=30"
        target_label: __param_target
      - source_labels: [__address__]
        regex: "(?:https?:\\/\\/|)(?:www\\.|)(.*?)(?:\\/|)$"
        target_label: instance
        replacement: "$1"
      - target_label: __address__
        replacement: json-exporter:7979
